@import '../src/lib/font/font.scss';
@import '../node_modules/@splidejs/splide/dist/css/splide.min.css';

:root {
	--roxo: #5731ff;
	--laranja-escuro: #dd6100;
	--laranja-claro: #ec7000;
	--preto: #000000;
	--branco: #ffffff;
	--cinza: #56504c;
	--cinza-escuro-borda: #3d3a34;

	// --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
	// 	Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	// --font-mono: 'Fira Mono', monospace;
	// --color-bg-0: rgb(202, 216, 228);
	// --color-bg-1: hsl(209, 36%, 86%);
	// --color-bg-2: hsl(224, 44%, 95%);
	// --color-theme-1: #ff3e00;
	// --color-theme-2: #4075a6;
	// --color-text: rgba(0, 0, 0, 0.7);
	// --column-width: 42rem;
	// --column-margin-top: 4rem;
	// font-family: var(--font-body);
	// color: var(--color-text);
}

@mixin animation($bg-color) {
	background-color: $bg-color;
	transition: all 0.5s ease;
}
@mixin brightnessEffect() {
	transition: all 0.2s ease-in;
	filter: brightness(150%);
}
@mixin shadowEffect() {
	transition: all 0.2s ease-in;
	filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.541));
}
@mixin font($font) {
	font-family: $font;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;

	::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	::-webkit-scrollbar-button {
		width: 0px;
		height: 0px;
	}

	::-webkit-scrollbar-thumb {
		background: var(--laranja-claro);
		border: 0px none #ffffff;
		border-radius: 50px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--laranja-escuro);
	}

	::-webkit-scrollbar-thumb:active {
		background: var(--laranja-escuro);
	}

	::-webkit-scrollbar-track {
		background: var(--cinza);
		border: 0px none #ffffff;
		border-radius: 0px;
	}

	::-webkit-scrollbar-track:hover {
		background: var(--cinza);
	}

	::-webkit-scrollbar-track:active {
		background: var(--cinza-escuro-borda);
	}

	::-webkit-scrollbar-corner {
		background: transparent;
	}
}

body {
	font-family: 'Itau Text', sans-serif;
	min-height: 100vh;
	color: #3a3a3a;
	overflow-x: hidden;
	overflow-y: hidden;

	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;

	h1,
	h2,
	input {
		@include font('Itau Display');
		letter-spacing: 0.5px;
	}

	ul {
		list-style: none;
	}

	button {
		@include font('Itau text');
	}

	a {
		text-decoration: none;
		color: #ffffff;
		transition: all 0.2s ease-in;
	}

	a:hover {
		color: var(--laranja-claro);
	}

	a:active {
		color: var(--laranja-escuro);
	}

	span {
		width: fit-content;
	}

	section {
		margin-bottom: 4.5rem;
	}

	@media screen and (min-width: 1200px) {
		.container,
		.container-lg {
			width: 85vw;
			max-width: 1200px;
		}
	}
}
